configuration {
	modi: "window,run,drun,ssh";
        display-drun: "Apps";
        display-window: "Window";
        terminal: "gnome-terminal";
        ssh-client: "ssh";
        show-icons: true;
        ssh-command: "{terminal} -e '{ssh-client} {host}'";
        run-shell-command: "{terminal} -e '{cmd}'";
}
@import "~/.config/rofi/themes/monokai.rasi"
